<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title Document
    body

        header.header
            h1 Header!!!

        .content
            h1 Content Hey!!!

        footer.footer
            h1 Footer!!!
        
        script(src="js/main.js")
