* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-holder {
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	.card {
		margin-right: 30px;
		margin-bottom: 30px;
	}
}

.card {
	width: 255px;
	border-radius: 6px;
	border: 1px solid rgb(209, 209, 209);
	padding: 20px;
	text-align: center;
}

.card__img {
	margin-bottom: 20px;
}
           
.card__title {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	font-weight: 700;
}

.card__price {
	font-size: 16px;
    color: rgb(195, 81, 161);
	font-weight: 700;
}
